{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "plugins": ["@typescript-eslint/eslint-plugin"],
  "env": { "browser": true },
  "parser": "@typescript-eslint/parser",
  "root": true,
  "rules": {
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "camelcase": ["error", { "properties": "never", "ignoreDestructuring": false, "ignoreImports": false, "ignoreGlobals": false }],
    "comma-dangle": ["error", {"arrays": "always-multiline", "objects": "always-multiline", "imports": "always-multiline", "exports": "always-multiline", "functions": "always-multiline"}],
    "comma-style": ["error", "last"],
    "eol-last": ["error", "always"],
    "eqeqeq": ["error", "always", { "null": "ignore" }],
    "func-call-spacing": ["error", "never"],
    "function-paren-newline": ["error", "multiline-arguments"],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "key-spacing": ["error", { "beforeColon": false, "afterColon": true }],
    "keyword-spacing": ["error", { "before": true, "after": true }],
    "linebreak-style": ["error", "unix"],
    "no-shadow": "error",
    "no-trailing-spaces": "error",
    "nonblock-statement-body-position": ["error"],
    "object-curly-newline": ["error", { "consistent": true }],
    "object-curly-spacing": ["error", "always"],
    "padded-blocks": ["error", "never", { "allowSingleLineBlocks": true }],
    "quotes": ["error", "single"],
    "semi": ["error", "always"]
  }
}
